
/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */


#home {
  background: url(../images/backgrounds/rope_forest.jpg);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

#image-2 {
  background: url(../images/backgrounds/laptop.jpg);
  height: 500px;
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.intro {
  top: 35%
}

.hello, .who-creates {
  font-size: 20px;
}


/* ---------------------------------------------- /*
 * Experience
/* ---------------------------------------------- */

.iconbox {
  height: 440px;
}

.iconbox-subtitle {
  text-align: left;
}

.iconbox .subject {
  font-weight: 700;
}

.iconbox-desc, .iconbox-techstack {
  text-align: left;
}


/* ---------------------------------------------- /*
 * Portfolio
/* ---------------------------------------------- */
.portfolio-items-container {
  background: rgb(84, 84, 84);
}

figure {
  margin: 5px;
}
.caption-inner .portfolio-item-title {
  font-size: 25px;
  z-index: 5;
}

.caption-inner .portfolio-item-desc {
  font-size: 23px;
}

.portfolio-items-container .portfolio-item a {
  z-index: 10;
  opacity: 0;
}

.portfolio-items-container .portfolio-item .underlay {
  height: 100%;
  left: 0;
    position: absolute;
  text-indent: 200%;
  top: 0;
  width: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.75);
}
